<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />	
	<add key="FPT-Systems-NuGet-Repo_Azure" value="https://pkgs.dev.azure.com/FPTSystemsGmbH/_packaging/FlexTools-AddIns/nuget/v3/index.json" />	
	<add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" />	
    <add key="Package source" value="https://pkgs.dev.azure.com/FPTSystemsGmbH/_packaging/ProjectTemplate-Releases/nuget/v3/index.json" />	
  </packageSources>	
  <packageSourceCredentials>  
  <!--UserdatenJGr-->
	<FPT-Systems-NuGet-Repo_Azure>
	<add key="Username" value="jochen.geschwentner@fpt.de" />
	<add key="ClearTextPassword" value="mpo2sr3liqhktoclhoeaygme2m3itjl2gt5hihgycc7wf2biqccq" />
	</FPT-Systems-NuGet-Repo_Azure>	
	<LOCALFEED>
	<add key="Username" value="fpt"/>
	<add key="Password" value="fpt4711"/>
	</LOCALFEED>	
</packageSourceCredentials>  
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />  
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  <packageManagement>
    <add key="format" value="0" />
    <add key="disabled" value="False" />
  </packageManagement>
  <packageSourceCredentials>
  
  </packageSourceCredentials>
</configuration>


